# Big Data

Trabalhando com Grande Volume de Dados.

In [1]:
# Import das Libs
import pandas as pd

In [3]:
# Ler o arquivo
dados = pd.read_csv('Accidents7904.csv', low_memory=False)

In [6]:
# Mostrando a quantidade de linhas
print("Total de linhas: {}".format(len(dados)))

Total de linhas: 6224198

In [8]:
dados.head(11)

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
0,197901A11AD14,NaN,NaN,NaN,NaN,1,3,2,1,18/01/1979,...,-1,-1,1,8,1,-1,0,-1,-1,NaN
1,197901A1BAW34,198460.0,894000.0,NaN,NaN,1,3,1,1,01/01/1979,...,-1,-1,4,8,3,-1,0,-1,-1,NaN
2,197901A1BFD77,406380.0,307000.0,NaN,NaN,1,3,2,3,01/01/1979,...,-1,-1,4,8,3,-1,0,-1,-1,NaN
3,197901A1BGC20,281680.0,440000.0,NaN,NaN,1,3,2,2,01/01/1979,...,-1,-1,4,8,3,-1,0,-1,-1,NaN
4,197901A1BGF95,153960.0,795000.0,NaN,NaN,1,2,2,1,01/01/1979,...,-1,-1,4,3,3,-1,0,-1,-1,NaN
5,197901A1CBC96,300370.0,146000.0,NaN,NaN,1,3,1,1,01/01/1979,...,-1,-1,4,8,3,-1,0,-1,-1,NaN
6,197901A1DAK71,143370.0,951000.0,NaN,NaN,1,3,2,2,01/01/1979,...,-1,-1,4,8,3,-1,0,-1,-1,NaN
7,197901A1DAP95,471960.0,845000.0,NaN,NaN,1,3,2,1,01/01/1979,...,-1,-1,4,8,3,-1,0,-1,-1,NaN
8,197901A1EAC32,323880.0,632000.0,NaN,NaN,1,2,1,1,01/01/1979,...,-1,-1,4,3,3,-1,0,-1,-1,NaN
9,197901A1FBK75,136380.0,245000.0,NaN,NaN,1,3,2,1,01/01/1979,...,-1,-1,4,8,3,-1,0,-1,-1,NaN
10,197901A1FDC88,334770.0,848000.0,NaN,NaN,1,3,1,1,01/01/1979,...,-1,-1,4,8,3,-1,0,-1,-1,NaN

# Começando com a Analise dos Dados

### Acidentes que ocorreram no domingo

In [9]:
# Quantos acidentes ocorreram no Domingo
acidentesDomingo = dados[dados.Day_of_Week == 1]

In [10]:
print("Acidentes que ocorreram em um DOMINGO: {}"
      .format(len(acidentesDomingo)))

Acidentes que ocorreram em um DOMINGO: 693847

### Acidentes de Domingo com mais de 20 Carros

In [11]:
# Consultando quantos acidentes de Domingo que tiveram mais que carros 
acidentesDomingoVinteCarros = dados[
    (dados.Day_of_Week == 1) & (dados.Number_of_Vehicles > 20)
]

In [12]:
print("Acidentes que ocorreram em um DOMINGO com mais de 20 Carros: {}"
      .format(len(acidentesDomingoVinteCarros)))

Acidentes que ocorreram em um DOMINGO com mais de 20 Carros: 10

### Acidentes em um Domingo com > 20 carros e na Chuva

In [15]:
# Consultando quantos acidentes de Domingo que 
# tiveram mais que carros e na chuva
acidentesDomingoVinteCarrosChuva = dados[
    (dados.Day_of_Week == 1) & # 1 = Domingo
    (dados.Number_of_Vehicles > 20) & # Mais de 20 Carros
    (dados.Weather_Conditions == 2) # 2 = Chuvas com Ventos Fortes
]

In [16]:
print("Acidentes que ocorreram em um DOMINGO com mais de 20 Carros na Chuva: {}"
      .format(len(acidentesDomingoVinteCarrosChuva)))

Acidentes que ocorreram em um DOMINGO com mais de 20 Carros na Chuva: 4

### Quantos acidentes ocorreram em Londres

In [21]:
# Acidentes em Londres
# Police Force = 1 indica Metropolitan Force que é a Scotland Yard
# Days of Week == 1 representa domingo
londres = dados[
    (dados.Police_Force == 1) & (dados.Day_of_Week == 1) 
]

In [23]:
print("Acidentes que ocorreram em um DOMINGO em Londres(1974-2004): {}"
      .format(len(londres)))

Acidentes que ocorreram em um DOMINGO em Londres(1974-2004): 114624

### Acidentes ocorridos nos anos 2000

In [26]:
# If ‘coerce’, then invalid parsing will be set as NaN.
# https://pandas.pydata.org/docs/reference/api/pandas.to_numeric.html
# Londres Maior que 01/01/2000 e Menor que 31/12/2000 
londres2000 = londres[(
    pd.to_datetime(londres['Date'], errors='coerce') > 
        pd.to_datetime('2000-01-01', errors='coerce')
    ) 
     
    &

    (
    pd.to_datetime(londres['Date'], errors='coerce') <
        pd.to_datetime('2000-12-31', errors='coerce')
)]

In [27]:
print("Acidentes ocorridos em Londres, no ano 2000: {}".format(len(londres2000)))

Acidentes ocorridos em Londres, no ano 2000: 3889

### Salvando o Conjunto de Dados para Londres 2000

In [30]:
writer = pd.ExcelWriter(
    'Acidentes_Londres_2000.xlsx', 
        engine='xlsxwriter'
)

londres2000.to_excel(writer, 'Londres 2000')

writer.save()