# Machine Learning

In [2]:
# Importando as libs
# Básicas
from pandas import read_csv
from pandas.plotting import scatter_matrix
from matplotlib import pyplot

# SciKitLearn ModelSelection
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold

# SciKitLearn Metrics
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

# Outras libs
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

In [3]:
# Informando a URL do arquivo de onde iremos puxar as informações
arquivo = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/iris.csv"

# Definindo os cabeçalhos/nomes das colunas
names = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'class']

In [4]:
# Fazendo a leitura do arquivo e definindo os nomes dos cabeçalhos
dataset = read_csv(arquivo, names=names)

In [5]:
print(dataset.shape)

(150, 5)

In [6]:
dataset.head()

   sepal-length  sepal-width  petal-length  petal-width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [7]:
# Verificando o formato do arquivo
# 150 linhas e 5 colunas
print(dataset.shape)

(150, 5)

In [8]:
# Resumo estatístico
dataset.describe() # print(dataset.describe())

       sepal-length  sepal-width  petal-length  petal-width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [9]:
# Distribuição de Classes
print(
    dataset.groupby('class').size()
)

class
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
dtype: int64

In [10]:
dataset['class'].value_counts()

Iris-versicolor    50
Iris-setosa        50
Iris-virginica     50
Name: class, dtype: int64

## Paramos na Pg 133 da Apostila